
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[url({{url_for('static',filename='images/index_wallpaper.webp')}})] font-serif">  
  
  <div class="flex flex-col items-center p-10">
    <div class="p-6 text-5xl text-black font-bold rounded-lg text-center align-center justify-center">
        <img class="w-80" src="{{url_for('static',filename='images/logo.png')}}">
    </div>
    <div class="font-thin flex w-full mt-5 py-16 flex-auto flex-col bg-slate-100 rounded-lg bg-opacity-60 text-center  align-center justify-between text-black text-5xl italic">
      <p class="text-slate-700 hover:text-slate-800 duration-150"> Un día nuestro querido Albert citó a su amigo Javier
        para comentarle que quería abrir un restaurante. Para ello necesitaba un socio en el que
        confiase ciegamente y allí en un sofá de su casa, cerveza en mano, se empezó a forjar la
        idea. </p><br>
      <p class="text-slate-700 hover:text-slate-800 duration-150">

     No tardaron en empezar a hablar de una de sus pasiones, la comida peruana, e hicieron un recorrido por los mejores restaurantes del Peru y llegaron a una conclusión: no hay restaurantes que traten su producto desde un punto de vista estrictamente gourmet.
      </p>
    </div>

  </div>
</body>
</html>