
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-orange-800	bg-opacity-50 w-full h-full font-serif">  
  
  <div class="h-full flex flex-col items-center align-center">
      <div class=" p-6 text-5xl text-black font-bold rounded-lg  text-center align-center ">
        <img class="w-80" src="{{url_for('static',filename='images/logo.png')}}">
      </div>
      <div class=" p-6 text-3xl text-black font-bold rounded-lg  text-center align-center ">
          Crear una cuenta
      </div>
    <form method="post">
    <div class="  flex  py-16 flex-auto flex-col rounded-lg text-center align-center justify-between ">

        <div class=" w-full  cursor-pointer p-2 rounded-lg text-lg font-bold ">
            <input class="w-full  cursor-pointer   p-2 rounded-lg text-lg font-bold duration-150 " type="text" placeholder="Nombres" name = "nombres" id="Nombres " required>
        </div>
        <div class=" w-full  cursor-pointer p-2 rounded-lg -lg font-bold ">
          <input class="w-full  cursor-pointer   p-2 rounded-lg text-lg font-bold duration-150 " type="text" placeholder="Apellidos" name = "apellidos" id="Apellidos" required>
      </div>
        <div class=" w-full  cursor-pointer p-2 rounded-lg text-lg font-bold ">
            <input class="w-full  cursor-pointer   p-2 rounded-lg text-lg font-bold duration-150 " type="text" placeholder="Telefono" name = "telefono" id="Telefono">
        </div>
        <div class=" w-full  cursor-pointer p-2 rounded-lg -lg font-bold ">
          <input class="w-full  cursor-pointer   p-2 rounded-lg text-lg font-bold duration-150 " type="text" placeholder="Direccion" name = "direccion" id="Direccion">
      </div>
        <div class=" w-full cursor-pointe  p-2 rounded-lg text-lg font-bold ">
            <input class="w-full  cursor-pointer p-2 rounded-lg  text-lg font-bold duration-150 " type="text" placeholder="Correo" name = "correo" id="Correo" required>
        </div>
        <div class=" w-full  cursor-pointer p-2 rounded-lg -lg font-bold ">
          <input class="w-full  cursor-pointer   p-2 rounded-lg text-lg font-bold duration-150 " type="text" placeholder="Contraseña" name = "contraseña" id="Contraseña" required>
      </div>
      <div class=" w-full  cursor-pointer p-2 rounded-lg -lg font-bold ">
        <select class="w-full  cursor-pointer   p-2 rounded-lg text-lg font-bold duration-150 " type="text" placeholder="Tipo de usuario" name = "tipo" id="tipo" required>
          <option value="" disabled selected value>-- Seleccione el tipo de usuario --</option>  
          <option value="cliente" >Cliente</option>  
          <option value="mesero" >Mesero</option>  
        </select>

        </div>

        <div class=" w-full  cursor-pointer py-8  ">
          <button class="w-full p-2 bg-orange-200 rounded-lg text-black text-lg font-bold hover:bg-black hover:text-white duration-150"  type="submit" >Crear Cuenta</button>
        </div>
    </div>
    </form>
  </div>
</body>
</html>